<!------------------------------------HEADER------------------------------------>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/bootstrap.min.css"> <!-- bootstrap css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/general.css">
</head>
<body>
    <header class="sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container">
           <a class="navbar-brand" href="/"><img src="/assets/ASP.png" alt="Logo"></a>
           <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
               aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link <%= currentPath === '/' ? 'active' : '' %>" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/articles">Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= currentPath === '/program' ? 'active' : '' %>" href="/program">Program</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= currentPath === '/about' ? 'active' : '' %>" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= currentPath === '/contact' ? 'active' : '' %>" href="/contact">Contact</a>
                </li>
            </ul>

                <!-- login button or username display -->
                <% if (user) { %>
                    <div class="ms-auto">
                        <span class="navbar-text">Welcome, <%= user.user_name %></span>
                        <a href="/logout" class="btn btn-outline-danger ms-2">Logout</a>
                    </div>
                <% } else { %>
                    <a class="ms-auto" href="/login">
                        <button class="login-btn">LOGIN</button>
                    </a>
                <% } %>
            </div>
        </div>
        </nav>
    </header>
</body>
</html>
